body {
    font-family: 'Work Sans', sans-serif;
  }
  #second-part {
    grid-template-columns: 3fr 1fr;
  }
  #remove-outline:focus {
    outline: none;
  }
  #prod1, #prod2, #prod3, #prod4, #prod5, #prod6, #prod7, #prod8, #prod9 {
    cursor: pointer;
  }

  /* responsive */
  @media screen and (max-width: 570px) {
    #second-part {
        grid-template-columns: 1fr;
      }
  }